<!doctype html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body>
    <div id="scrollToTop"></div>

    <%- include('sections/section-header') %>

    <%- include('sections/section-services') %>

    <%- include('sections/section-intro') %>

    <%- include('jsfiles') %>
  </body>
</html>
