<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div id="scrollToTop"></div>

    <!-- header section -->
    <%- include('sections/section-header') %>

    <!-- services section -->
    <%- include('sections/section-services') %>

    <!-- detailed section -->
    <%- include('sections/section-detailed') %>

    <!-- howto section -->
    <%- include('sections/section-howto') %>

    <!-- contact section -->
    <%- include('sections/section-contact') %>


    <%- include('partials/jsfiles') %>
  </body>
</html>
